{% extends 'base.html' %}

{% block title %} Credential list {% endblock %}

{% block content %}
<!--main-container-part-->

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
 <div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Credential list</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'plans' %}">Plans</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Plan</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
          <div class="card">
            {% for prov in providers %}
              <div class="card-body">
                  <h5 class="card-title m-b-0">{{prov.name}} credentials</h5>
              </div>
              <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Provider</th>
                        {% if prov.provider_id == 2 %}
                        <th scope="col">Projecto</th>
                        {% else %}
                        <th scope="col">Description</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% if prov.provider_id == 1 %}
                      {% for cred in credential_aws_list %}
                      <tr>
                        <td>{{cred.id}}</td>
                        <td>{{cred.name}}</td>
                        <td>{{prov.name}}</td>
                        <td>{{cred.description}}</td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                      {% if prov.provider_id == 2 %}
                      {% for cred in credential_os_list %}
                      <tr>
                        <td>{{cred.id}}</td>
                        <td>{{cred.user_name}}</td>
                        <td>{{prov.name}}</td>
                        <td>{{cred.tenant_name}}</td>
                      </tr>
                      {% endfor %}
                      {% endif %}
                    </tbody>
              </table>
            {% endfor %}
          </div>
      </div>
</div>
{% endblock %}
