{% extends 'base.html' %}

{% block title %} New Plan {% endblock %}

{% block content %}
<!--main-container-part-->

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
 <div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">New Plan</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'plans' %}">Plans</a></li>
                        <li class="breadcrumb-item active" aria-current="page">New Plan</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
        {% if not credential_list %}
          <div class="col-md-6">
              <div class="card">
                  <form class="form-horizontal" action="{% url 'new_credential' %}" method="post">
                    {% csrf_token %}
                      <div class="card-body">
                          <h4 class="card-title">Credentials {{provider_name}}, Provider id: {{provider_id}}</h4>
                          <div class="form-group row">
                              <label for="fname" class="col-sm-3 text-right control-label col-form-label">Provider ID:</label>
                              <div class="col-sm-9">
                                {{aws_form.provider_id}}
                                  <!-- <input type="text" class="form-control" id="fname" placeholder="First Name Here"> -->
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="fname" class="col-sm-3 text-right control-label col-form-label">Credential Name:</label>
                              <div class="col-sm-9">
                                {{aws_form.name}}
                                  <!-- <input type="text" class="form-control" id="fname" placeholder="First Name Here"> -->
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="lname" class="col-sm-3 text-right control-label col-form-label">Credential Description:</label>
                              <div class="col-sm-9">
                                {{aws_form.description}}
                                  <!-- <input type="text" class="form-control" id="lname" placeholder="Last Name Here"> -->
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="lname" class="col-sm-3 text-right control-label col-form-label">Access key:</label>
                              <div class="col-sm-9">
                                {{aws_form.access_key}}
                                  <!-- <input type="password" class="form-control" id="lname" placeholder="Password Here"> -->
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="email1" class="col-sm-3 text-right control-label col-form-label">Secret key:</label>
                              <div class="col-sm-9">
                                {{aws_form.secret_key}}
                                  <!-- <input type="password" class="form-control" id="email1" placeholder="Sec"> -->
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Region:</label>
                              <div class="col-sm-9">
                                {{aws_form.region}}
                                  <!-- <input type="text" class="form-control" id="cono1" placeholder="Contact No Here"> -->
                              </div>
                          </div>
                      </div>
                      <div class="border-top">
                          <div class="card-body">
                              <input type="submit" class="btn btn-primary" value="Submit"/>
                          </div>
                      </div>
                  </form>
              </div>
            </div>
            {% else %}
            {% for credential in credentials_list %}
            <div class="col-md-6 col-lg-2 col-xlg-3">
                <a href="{% url 'new_plan' %}?step=3">
                  <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                        <h1 class="font-light text-white"><i class="mdi mdi-library-plus"></i>Hola!</h1>
                        <h6 class="text-white">{{credential.id}}</h6>
                    </div>
                  </div>
                </a>
            </div>
            {% endfor %}
          {% endif %}

    </div>
</div>
{% endblock %}
