{% extends 'base.html' %}

{% block title %} User Plans {% endblock %}

{% block content %}
<!--main-container-part-->

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
 <div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Plans</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Plans</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">

        {% if plan_count <= plan_limit %}
        {% for plan in plan_data %}
        <div class="col-md-6 col-lg-2 col-xlg-3">
            <a href="{% url 'gen_plan' %}?plan={{plan.name}}">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white"><i class="mdi mdi-amazon"></i></h1>
                    <h6 class="text-white">{{plan.name}}</h6>
                </div>
              </div>
            </a>
        </div>
        {% endfor %}

          <!-- Column -->
          <div class="col-md-6 col-lg-2 col-xlg-3">
              <a href="{% url 'new_plan_providers' %}?step1">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                      <h1 class="font-light text-white"><i class="mdi mdi-library-plus"></i></h1>
                      <h6 class="text-white">New Plan</h6>
                  </div>
                </div>
              </a>
          </div>
        {% endif %}

      </div>
  </div>
{% endblock %}
