<!DOCTYPE html>
<html lang="en">

  <head>
    <title>OpenForm</title><meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/form.js"></script>
  </head>
  <body>
    <form action="{% url '_genplan' %}" class="formulario" method="post">
      {% csrf_token %}
      Provider: <input type="text" value="{{provider}}" name="provider" readonly/>
      Resource: <input type="text" value="{{resource_type}}" name="resource_type" readonly/>
      <div class="volumes_form">
        <button class="add_volume">Add More volumes</button><span>Max 5.</span>
        <div>
          <input type="text" placeholder="Volume Name" name="volume_name" required/>
          <input type="text" placeholder="Volume size" name="volume_size" required/>
          <input type="text" placeholder="Volume description" name="volume_desc" required/>
          <a href="#" class="remove_volume">X</a>
        </div>
      </div>
      <input type="submit" value="Create Terraform Plan" />
    </form>
  </body>
</html>
