resource "aws_instance" "{{instance_name}}" {

    ami                         = "{{ami_id}}"
    availability_zone           = "{{region}}"
    instance_type               = "{{instance_type}}"
    key_name                    = "{{instance_name}}-keypair"
    associate_public_ip_address = true
    source_dest_check           = false
    root_block_device {
      volume_type = "gp2"
      volume_size = "8"
    }

}

resource "aws_key_pair" "{{instance_name}}-keypair" {
  key_name = "{{instance_name}}-keypair"
  public_key = "${file("~/.ssh/_KEYPAIR_NAME_")}" # Set the absolute path to the ssh key file.
}
